<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>
        <div class="nav">
            <img src="logo.jpg" height="70px" width="70px" alt="logo">
            <ul>
                
                <li><a href="zerohome.html">Home</a></li>
                <li><a href="features.html">Features</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="login.html">Login</a></li>
                
            </ul>
        </div>
    
    </header>
    <main>
        <div class="container">
            <div class="section companies">
                <h2>For <span>Hotels</span></h2>
                <p>Receive AI-powered recommendations on how to reduce food waste..</p>
                <a href="loginpage.html" class="button">login</a>
                <p>Don't have an account? <a href="register.html" class="regi">Sign up</a>.</p>
            </div>
            <div class="divider"></div>
            <div class="section developers">
                <h2>For <span>Acceptors</span></h2>
                <p>Stay updated with real-time notifications on available food items near you.</p>
                <a href="loginpage.html" class="button">login</a>
                <p>Don't have an account? <a href="register.html" class="regi">Sign up</a>.</p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Zeroplate. All Rights Reserved.</p>
    </footer>
</body>
</html>
